#Ignore binary files
*.png
*.jpg
*.mov
*.mp3
*.mp4

#Ignored script extensions
*.rpyc
*.rpymc

#Ignored base folder files
errors.txt
log.txt
traceback.txt

#Ignored default folders
/audio
/images
/cache
/saves

#PDF
.pdf